/* @font-face {
  font-family: 'Example Sans';
  src: url('../public/fonts/ExampleSans-Regular.woff2') format('woff2'),
      url('../public/fonts/ExampleSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "roboto_condensedbold";
  src: url("../public/fonts/robotocondensed-bold-webfont.woff2") format("woff2"),
    url("../public/fonts/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensedbold_italic";
  src: url("../public/fonts/robotocondensed-bolditalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/robotocondensed-bolditalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condenseditalic";
  src: url("../public/fonts/robotocondensed-italic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/robotocondensed-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensedlight";
  src: url("../public/fonts/robotocondensed-light-webfont.woff2")
      format("woff2"),
    url("../public/fonts/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensedlight_italic";
  src: url("../public/fonts/robotocondensed-lightitalic-webfont.woff2")
      format("woff2"),
    url("../public/fonts/robotocondensed-lightitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensedregular";
  src: url("../public/fonts/robotocondensed-regular-webfont.woff2")
      format("woff2"),
    url("../public/fonts/robotocondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-Bold.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-BlackIt.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-Black.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-It.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-It.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-ExtraLightIt.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-ExtraLightIt.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-Light.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-BoldIt.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-ExtraLight.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-LightIt.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-LightIt.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-SemiBoldIt.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-SemiBoldIt.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-SemiBold.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src: url("../public/fonts/SourceSerifPro-Regular.woff2") format("woff2"),
    url("../public/fonts/SourceSerifPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../public/fonts/PretendardVariable.woff2")
    format("woff2-variations");
}
