/* Webfonts */
@import "_fonts.css";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "_typography.css";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
  background-color: rgb(234, 232, 228);
}

.image-container {
  position: relative;
  /* padding: 2rem; */
  min-height: 400px;
  width: 90%;
}
.image-circle {
  /* width: 350px;
  height: 350px; */
  /* margin: 0 auto; */
  /* filter: grayscale(80%); */
}

/* .dropdown {
  transition: all 1s ease-in;
} */
.neg-margin {
  margin-left: -5px !important;
}

.image {
  filter: grayscale(25%);
  margin: 0 auto;
  /* width: 50%; */
}

.image:hover {
  /* filter: grayscale(0); */
}

.project-card,
.project-title {
  transition: ease 0.4s all;
}

.project-card:hover .project-title {
  text-decoration: underline;
}

.gray-box {
  background: #f3f3f3;
}
.project-card:hover .gray-box {
  background: #dfff60;
}

.phone-icon,
.email-icon,
.location-icon {
  width: 0.8em;
}

.small-arrow {
  position: absolute;
  right: 0;
  bottom: 0;

  opacity: 0.6;

  width: 30px;
  height: 30px;
  text-indent: -999999px;

  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.small-arrow:hover {
  opacity: 1;
}

.button-purple {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.button-purple:hover {
  width: 150%;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: 12rem;
  height: auto;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 1.625rem;
}

.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}

.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.arrow:before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: black;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover .circle {
  width: 100%;
}
.button:hover .circle .icon .arrow {
  background: white;
  transform: translate(1rem, 0);
}

.button:hover .button-text {
  color: white;
}

.arrow-btn {
}
