/* Webfonts */
@import "_fonts.css";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "_typography.css";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
  /* background-color: rgb(234, 232, 228); */
}

body {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.image-container {
  position: relative;
  /* padding: 2rem; */
  /* min-height: 400px; */
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .image-container {
    margin: 0 auto;
    min-height: 0;
  }
}

.image-circle {
  /* width: 350px;
  height: 350px; */
  /* margin: 0 auto; */
  /* filter: grayscale(80%); */
}

/* .dropdown {
  transition: all 1s ease-in;
} */
.neg-margin {
  margin-left: -3px !important;
}

.image {
  filter: grayscale(25%);
  margin: 0 auto;
  /* width: 50%; */
}

.image:hover {
  /* filter: grayscale(0); */
}

.project-card,
.project-title {
  transition: ease 0.4s all;
}

.project-card:hover .project-title {
  text-decoration: underline;
}

.gray-box {
  background: #f3f3f3;
}

.project-card:hover .gray-box {
  background: #dfff60;
}

.phone-icon,
.email-icon,
.location-icon {
  width: 0.8em;
}

.small-arrow {
  /* position: absolute;
  right: 0;
  bottom: 0;

  opacity: 0.6;

  width: 30px;
  height: 30px;
  text-indent: -999999px;

  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1); */
}

.small-arrow:hover {
  opacity: 1;
}

.button-purple {
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.button-purple:hover {
  width: 150%;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: 12rem;
  height: auto;
}

.circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #00274c;
  border-radius: 1.625rem;
}

/* @media (max-width: 768px) {
  .circle {
    height: 2rem;
    width: 2rem;
  }
} */
.icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
}

.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.arrow:before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: black;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .button-text {
    padding-left: 0.4rem;
  }
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon .arrow {
  background: white;
  transform: translate(1rem, 0);
}

.button:hover .button-text {
  color: white;
}

.arrow-btn {
}

.header-tag svg {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.spin-container {
  transform: translate(-50%, -50%);
}

.spin {
  color: black;
  opacity: 0;
}

.spin {
  /* transition: cubic-bezier(0.6, 0.04, 0.98, 0.335) all; */
  animation: spin 3s ease-in-out infinite;
}

.spin-0 {
  animation-delay: 500ms;
}

.spin-1 {
  animation-delay: 2500ms;
}

.spin-2 {
  animation-delay: 4500ms;
}

.spin-3 {
  animation-delay: 6500ms;
}

.spin-4 {
  animation-delay: 8500ms;
}

.spin-slow {
  /* transform-origin: 50% 0; */
  animation: swing 3s ease-in-out forwards infinite;
}

@keyframes spin {
  25% {
    opacity: 1;
    color: #ffcb05;
  }

  50% {
    opacity: 1;
    color: #ffcb05;
  }

  75% {
    opacity: 1;
    color: #ffcb05;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.animate-bounce-right {
  animation: bounceRight 2.25s infinite;
}

.animate-bounce-left {
  animation: bounceLeft 2.25s infinite;
}

.animate-bounce-rightsmall {
  animation: bounceRightSmall 5s infinite;
}

.animate-bounce-leftsmall {
  animation: bounceLeftSmall 5s infinite;
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(-50%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateX(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes bounceLeftSmall {
  0%,
  100% {
    transform: translateY(-50%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@screen md {
  @keyframes bounceLeftSmall {
    0%,
    100% {
      transform: translateX(-50%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateX(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

@keyframes bounceRightSmall {
  0%,
  100% {
    transform: translateY(35%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@screen md {
  @keyframes bounceRightSmall {
    0%,
    100% {
      transform: translateX(35%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
      transform: translateX(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.wrap-image {
  position: relative;
}

/* .wrap-image:first-of-type {
  background-color: #fff6df;
} */
.wrap-image:before,
.wrap-image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  /* border: 2px solid yellow; */
  border-width: 2px;
  transition: all 0.25s ease-out;
}

.wrap-image:before {
  top: -15px;
  left: -15px;
}

.wrap-image:after {
  bottom: -15px;
  right: -15px;
}

.wrap-image:hover:before {
  top: 15px;
  left: 15px;
}

.wrap-image:hover:after {
  bottom: 15px;
  right: 15px;
}

.wrap-image:hover h3 {
  text-decoration: underline;
}

.offset-bg {
  position: relative;
}

.offset-bg:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 100%;
  height: 100%;
  border: 3px solid #f5bd1f;
  opacity: 0.7;
  box-sizing: border-box;
}

.link {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  letter-spacing: 1.1px;
  font-size: 18px;
}

/* underline hover effect */
/* .link:before {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(36, 36, 36);
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link:before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link:hover:before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
} */

.link {
  text-decoration: none;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .link {
    text-transform: capitalize;
    font-size: 16px;
  }
}

.about-item {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: dotted 1px gray;
}

.about-item:before {
  font-size: 24px;
  position: absolute;
  color: rgb(34, 118, 162);
  top: 1.2rem;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}

@media (max-width: 768px) {
  .about-item {
    width: 100%;
  }
}

.lang-item {
  text-transform: capitalize;
  letter-spacing: normal;
}

.dropdown-menu {
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  /* transform: translateY(-2px); */
}

.accordion-item {
  @apply transition-all duration-500 ease-in-out pointer-events-none;
  max-height: 0;
  height: 100% !important;
}

.accordion-item--open {
  max-height: 1000px;
  height: 100% !important;
  /* @apply pb-12 pb-16 transition-all duration-700 ease-in-out md: xl:pb-20; */
}

.accordion__panel {
  display: block !important;
  overflow: hidden;
  max-height: 1000px;
  transition: max-height 1.5s ease-in-out;
}

.accordion__panel[hidden] {
  display: block !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
}

.image-container2 {
  width: 100%;
}

.image-container2 div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.project-box {
  transition: all 0.5s ease;
}

.project-title1 {
  font-family: pt-sans-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.project-box:hover .project-title1 {
  text-decoration: underline;
}

.content > p {
  line-height: 1.5;
  font-size: 16px;
}

.content-inner a {
  text-decoration: underline;
  color: navy;
}

.content-inner p,
.content-inner ul li {
  font-size: 1.25rem;
  font-family: "roboto_condensedlight";
}

@media (max-width: 768px) {
  .content-inner p,
  .content ul li {
    font-size: 1rem;
  }
}

.content-inner ul {
  list-style-type: disc;
  margin-left: 1rem;
  margin-bottom: 0.75rem;
}

.blurb > p {
  font-family: "Source Serif Pro";
}

.content > ul li {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: "roboto_condensedbold";
}

.content > ol li {
  font-size: 15px;
  margin-bottom: 2px;
  font-family: "roboto_condensedbold";
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}

#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

.title-thin {
  font-family: "roboto_condensedlight";
}

.btn-donate {
  border-radius: 40px;
}

.font-pt {
  font-family: pt-sans-narrow, "roboto_condensedlight";
  font-weight: 500;
  font-style: normal;
}

.font-pt-bold {
  font-family: pt-sans-narrow, "roboto_condensedlight";
  font-weight: 700;
  font-style: normal;
}

.font-arial {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.events-nav {
  font-size: 2.5rem;
  font-weight: 600;
}

.events-nav ul li {
  cursor: pointer;
}

@media (max-width: 768px) {
  .events-nav {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .events-nav ul {
    border: 1px #949494 solid;
    display: flex;
    justify-content: space-evenly;
  }

  .events-nav ul li {
    display: inline-block;
  }

  .events-nav ul li:first-child {
    border-right: 1px #949494 solid;
    padding-right: 1.2rem;
  }
}

.active-tab {
  color: black;
  position: relative;
  /* list-style: disc; */
}

.active-tab::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  background-color: #949494;
  border-radius: 100%;
  left: -1.125rem;
  margin-top: -0.25rem;
  margin-left: -0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  transition: opacity 0.25s cubic-bezier(0.86, 0, 0.07, 1),
    visibility 0s linear 0s;

  opacity: 1;
}

.rounded-lg img {
  border-radius: 1rem;
}

.card-container {
  display: grid;

  /* border-top: 1px solid #120902;
            border-left: 1px solid #120902; */
  border-top: 1px solid #120902;
}

.card {
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  margin-bottom: 40px;
  padding: 1.5rem;
  /* background:rgba(207, 207, 207, 0.9); */
  border-right: 1px solid #120902;
  border-bottom: 1px solid #120902;
}

.card-:hover {
  color: rgb(217, 110, 52);
  background-color: rgb(241, 234, 251);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card-title {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;

  margin-bottom: 10px;
}

.card-description {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 0;
}

.grid-wrapper {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-container {
  -ms-grid-column: span 12;
  grid-column-start: span 12;
  -ms-grid-column-span: 12;
  grid-column-end: span 12;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  margin-top: 4rem;
  margin-bottom: 4rem;
  /* grid-column-gap: 2rem; */
  grid-row-gap: 2rem;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-template-rows: auto;
}

.grid-item {
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

.program-page-title {
  font-size: clamp(45px, 6vw, 100px);
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.img-wrapper {
  position: relative;
}

.img-wrapper img {
  border-radius: 20px;
}

.gray-img {
  border-radius: 20px;
}

.card-wrapper-link {
  cursor: pointer;
}

.card-wrapper-link img {
  filter: grayscale(80%);
}

.card-wrapper-link:hover {
  color: rgb(217, 110, 52);
  background-color: rgba(217, 212, 170, 0.81);

  transition: background-color 0.3s ease 0s;
}

.card-wrapper-link:hover img {
  filter: none;
  transition: "filter 0.3s";
}

.card-wrapper-link:hover .overlay-toggle {
  opacity: 0 !important;
}

.h3-title {
  font-weight: 400;
  font-size: 4.25rem;
}

.cta-desc {
  font-size: 1.5rem;
}
