/* Webfonts */
@import "_fonts.css";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "_typography.css";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

.image {
  border-radius: 100%;
  overflow: hidden;
  width: 350px;
  height: 350px;
  margin: 0 auto;
}

/* .dropdown {
  transition: all 1s ease-in;
} */
.neg-margin {
  margin-left: -5px !important;
}
